body {
  margin: 0px;
  background-color: black;
}
/*GRID CONTAINER TUTTO HOME*/
.gridContainer {
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem); /*il tot deve ex 100 rem se cambio h header cambio anche qui*/
  height: 100vh;
}
/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  align-items: center;
}
.logo {
  height: 100%;
  flex: 0.3; /* deve ex uguale alla flex di socialbar per avere tutto centrato*/
  padding: 0.5rem;
}

.imgLogo {
  height: 100%;
}
.imgLogo:hover {
  cursor: pointer;
}
.socialBar {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  flex: 0.3; /* deve ex uguale alla flex di logo per avere tutto centrato*/
}
.socialBar a:hover {
  color: #333;
}
.socialBar .facebook {
  color: #3b5998;
}
.socialBar .instagram {
  color: #dd2a7b;
}
.socialBar .mail {
  color: #6f6f6f;
}
.socialImg {
  width: 20%;
}
.menu {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  color: black;
  border: none;
  align-items: center;
}

.menu > a:hover {
  color: white;
}
.menuItem {
  margin-right: 1rem;
  z-index: 100;
  position: relative;
  padding: 1rem;
  width: max-content;
}
.menuItem > a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#portfolioItem > a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#portfolioItem {
  position: absolute;
  text-decoration: none;
  display: none;
  background-color: black;
  opacity: 80%;
}

.menuItem > a:hover {
  color: white;
  cursor: pointer;
  font-size: medium;
  text-align: start;
}

#button {
  text-align: center;
  font-size: small;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-color: black;
  border: none;
  font-weight: bold;
}

#button:hover {
  color: white;
}
* {
  box-sizing: border-box;
}
.homeGallery {
  width: 100%;
  position: relative;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  display: block; /*4rem è l'altezza della header se cambio quella cambio anche qui, 2rem invece è il margin-top di homeGallery*/
}

.arrow {
  background-color: transparent;
  font-size: 3rem;
  height: 3rem;
  z-index: 80;
  opacity: 30%;
  border: none;
  border-radius: 4rem;
  position: absolute;
  top: 50%;
  color: white;
}
.back {
  left: 0;
}
.forward {
  right: 0;
}

.arrow:hover {
  color: white;
  cursor: pointer;
  opacity: 100%;
}

.mobileMenuButton {
  display: none;
}

.footer {
  display: none;
}

/*MEDIA QUERIES 780PX MOBILE*/

@media only screen and (max-width: 780px) {
  .mobileMenuContainer {
    position: relative;
  }

  .menu {
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: black;
    opacity: 80%;
    z-index: 2;
    top: 2rem;
  }

  .mobileMenuButton {
    display: block;
    text-align: center;
    font-size: small;
    color: gray;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    background-color: black;
    border: none;
    font-size: medium;
    font-weight: bold;
  }

  .menuItem {
    padding: 0.2rem;
  }

  #button {
    display: none;
  }

  .logo {
    height: 80%;
  }

  .socialBar {
    justify-content: space-around;
    margin-right: 0.5rem;
  }

  .gridContainer {
    grid-template-rows: 5rem calc(100vh - 15rem) 10rem; /*il tot deve ex 100 rem se cambio h header cambio anche qui*/
  }

  .homeGallery {
    padding: 3rem 0;
    margin-top: 2rem;
  }
  /* ARROW*/
  .arrow {
    display: none;
  }

  /*FOOTER*/
  .footer {
    color: gray;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: x-small;
    display: block;
  }
  .footerparagrafi {
    text-align: center;
    padding: 1rem;
    background-color: black;
  }
  .privacy,
  .cookie {
    display: inline;
  }
  .email,
  .privacy,
  .cookie,
  .telefono {
    color: gray;
    text-decoration: none;
  }
}
