body {
  margin: 0px;
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 5rem;
  width: 100%;
  align-items: center;
}
.logo {
  height: 100%;
  flex: 0.3; /* deve ex uguale alla flex di socialbar per avere tutto centrato*/
  padding: 0.5rem;
}

.imgLogo {
  height: 100%;
}
.imgLogo:hover {
  cursor: pointer;
}
.socialBar {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  flex: 0.3; /* deve ex uguale alla flex di logo per avere tutto centrato*/
}
.socialBar a:hover {
  color: #333;
}
.socialBar .facebook {
  color: #3b5998;
}
.socialBar .instagram {
  color: #dd2a7b;
}
.socialBar .mail {
  color: #6f6f6f;
}
.socialImg {
  width: 20%;
}
.menu {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  color: black;
  border: none;
  align-items: center;
}

.menu > a:hover {
  color: white;
}
.menuItem {
  margin-right: 1rem;
  z-index: 100;
  position: relative;
  padding: 0.2rem;
  width: max-content;
}
.menuItem > a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#portfolioItem > a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#portfolioItem {
  position: absolute;
  text-decoration: none;
  display: none;
  margin-top: 5px;
  background-color: black;
  opacity: 80%;
}

.menuItem > a:hover {
  color: white;
  cursor: pointer;
  font-size: medium;
  text-align: start;
}

#button {
  text-align: center;
  font-size: small;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-color: black;
  border: none;
  font-weight: bold;
}

#button:hover {
  color: white;
}
* {
  box-sizing: border-box;
}
.titleGallery {
  padding-top: 6rem;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: normal;
}
.aboutGallery {
  display: flex;
  padding: 1rem;
  width: 100%;
  position: relative;
  text-align: center;
}
.aboutText {
  padding: 1rem;
  color: gray;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  line-height: 1.5rem;
  margin: 0 auto;
}

.image {
  width: 50%;
  height: 50%;
  padding: 1.5rem;
}

/*FOOTER*/
.footer {
  padding-top: 10rem;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.footerparagrafi {
  text-align: center;
  padding: 2rem;
  background-color: #333;
  opacity: 70%;
  border-top: solid;
  border-color: whitesmoke;
}
.privacy,
.cookie {
  display: inline;
}
.email,
.privacy,
.cookie,
.telefono {
  color: gray;
  text-decoration: none;
}
.email:hover,
.privacy:hover,
.telefono:hover,
.cookie:hover {
  cursor: pointer;

  color: white;
}
.mobileMenuButton {
  display: none;
}
/*MEDIA QUERIES 780PX MOBILE*/

@media only screen and (max-width: 780px) {
  .mobileMenuContainer {
    position: relative;
  }

  .menu {
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: black;
    opacity: 80%;
    z-index: 2;
    top: 2rem;
  }

  .mobileMenuButton {
    display: block;
    text-align: center;
    font-size: small;
    color: gray;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    background-color: black;
    border: none;
    font-size: medium;
    font-weight: bold;
  }

  #button {
    display: none;
  }

  .logo {
    height: 80%;
  }

  .socialBar {
    justify-content: space-around;
    margin-right: 0.5rem;
  }

  .gridContainer {
    grid-template-rows: 5rem calc(100vh - 15rem) 10rem; /*il tot deve ex 100 rem se cambio h header cambio anche qui*/
  }

  .homeGallery {
    padding: 3rem 0;
  }
  .aboutGallery {
    flex-direction: column;
  }
  .image {
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
  }
  .aboutText {
    font-size: 0.7rem;
    line-height: 0.7rem;
    text-align: justify;
    padding: 0.5rem;
  }

  /*FOOTER*/
  .footer {
    color: gray;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: x-small;
    display: block;
    padding-top: 1rem;
  }
  .footerparagrafi {
    text-align: center;
    padding: 1rem;
    background-color: black;
  }
  .privacy,
  .cookie {
    display: inline;
  }
  .email,
  .privacy,
  .cookie,
  .telefono {
    color: gray;
    text-decoration: none;
  }
}
